
<nav class="navbar navbar-default navbar-fixed-top">
  <a class='nav-link btn btn-link' routerLink="/home">Home</a>
  <a class='nav-link btn btn-link' routerLink="/documents">Docs</a>
  <div class="dropdown btn btn-link">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Proposals
    <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a class="btn btn-link" routerLink="/proposals">Proposals</a></li>
      <li><a class="btn btn-link" routerLink="/proposals/new">New Proposal</a></li>
    </ul>
  </div>
</nav>

<div class="app-body">
  <router-outlet></router-outlet>
</div>