/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Turret+Road&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quantico&display=swap');

body {
	background-color: #000066;
	font-family: 'Quantico', sans-serif;
}

.headline {
	color: #d9d9d9
}